.swal2-success-circular-line-left {
  visibility: hidden !important;
}

.swal2-success-circular-line-right {
  visibility: hidden !important;
}

.swal2-success-fix {
  visibility: hidden !important;
}
